@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.pokemonlist{
  display: flex;
  text-align: center;
  align-items: center;
  margin: 30px;
  border-radius: 5%;
  width: 200px;
  padding: 2px;
  justify-content: space-evenly;
  background: rgba(210, 228, 210, 0.6);
  -webkit-transition: all 0.2s;

}
.allPokemons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(169, 172, 169, 0.6);
  margin: 20px;
  border-radius: 3%;

}
@font-palette-values --palleteArrowsFooter {
  font-family: Rocher;
  base-palette: 9;
}

.listPokemonFooter{
  width: 100%;
  text-align: center;
}


.listPokemonFooter button{
  margin: 10px;
  font-size: 35px;
  font-palette: --palleteArrowsFooter;
}

.pokeImgHome{
  width: 80px;
}

.pokeCard {
  width: 400px;
  margin: 30px;
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: rgb(250, 250, 250,0.8);
  border: rgb(148, 36, 36) 2px solid;
  border-radius: 1.75em;
  animation: rotateCard 2s;
  animation-fill-mode: forwards;
  box-shadow: 10px 10px 10px 5px rgb(27, 21, 21);
  height: 700px;
}

@keyframes rotateCard{
  to{
    transform: skew(0deg,20deg);
  }
}

.pokeCardHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.pokeAttrContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.textStyled{
  font-family: Rocher;
  text-shadow: 0 -1px 4px #3b3131, 0 -2px 10px rgb(158, 158, 84), 0 -10px 20px #c77a2e, 0 -18px 40px rgb(141, 99, 99);
}
.textDescriptions{
  font-family: "Audiowide", cursive;
  color: #333;
  text-shadow: -0.01em -0.01em 0.01em #000;
}
.pokeBackground {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat
}
.pokeImgInCard{
  width: 70%;
  height: 70%;
  align-self: center;
  justify-self: center;
}
.favoriteButton{
  background: none;
  border: none;
  margin-top: 10px;
  background-image: url('../public/menu/emptyStar.png');
}
.favoriteButton:hover , .shinyButton:hover{
  cursor: pointer;
}
.favoriteSelected{
  background-image: url('../public/menu/fullStar.png');
}
.pokeType, .favoriteButton{
  width: 40px;
  height: 40px;
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.pokemonListType{
  width: 20px;
  height: 20px;
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.pokeAbilities,.pokeStats,.pokeDescriptions{
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
  padding: 0px 20px;
  width: 100%;
  margin-top: -20px;
  margin-left: -10px;
  background: rgba(201, 73, 41);
}
.inputDiv{
  display: flex;
  align-items: center;
}
.inputUser{
  text-align: center;
  border-radius: 1.75em;
}
.headerButton{
  background: none;
  border: none;
  font-size: 20px;
  margin: 10px;
}
.inputButton{
  margin: 10px;
  background-image: url('../public/menu/pokeball.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.inputButton:hover{
  cursor: pointer;
  animation: ballRotate 0.4s infinite linear;
}

@keyframes ballRotate{
  to{transform: rotateZ(360deg)}
}

.listGenerations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin:20px;
}
.region{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:30px;
  width: 320px;
  height: 100px;
  border: solid black 2px;
  background: rgba(244, 247, 244, 0.6);
  -webkit-transition: all 0.2s;

}

.links{
  text-decoration: none;
  color: #333;
  text-shadow: -0.01em -0.01em 0.01em #000;
}
.loading {
  background-image: url('../public/menu/pikachu-running.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.loadingComponent {
  text-align: center;
  width: 300px;
}
body{
  background-color: #3d4746;
}
.pokemonlistText {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.region:hover,.pokemonlist:hover{
  transform: scale(1.3);
}

.headerButton:hover ,.arrowDropDown:hover, .arrows:hover{
  cursor: pointer;
}

.headerText{
  width: 100%;
  display: flex;
  justify-content: center;
}
body::-webkit-scrollbar{
  display: none;
}
.notFound {
  background-image: url('../public/menu/Missingno.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  margin:20px;
}
.contact{
  display: none;
  width: 60px;
  background-color:  rgba(201, 73, 41);
  margin-left: -6px;
}
.linkedin , .gitHub{
  height: 30px;
  width: 60px;
  border: none;
}
.gitHub{
  background-image: url('../public/menu/github.png');
  display: flex;
  margin-left: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}
.linkedin{
  background-image: url('../public/menu/linkedin.png');
  display: flex;
  margin-left: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}
.arrowDropDown{
  background-image: url('../public/menu/arrow.png');
  background-color:  rgba(201, 73, 41);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  width: 60px;
  height: 10px;
}
.arrowDropDown:hover .contact{
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center
}


@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}
.pokeNumber{
  display: flex;
  flex-wrap: wrap;
  height: 40px;
}
.pokeName{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.hideAbility{
  font-style: italic;
  text-shadow: 0 -1px 4px #2de21c, 0 -2px 10px rgb(12, 62, 226);

}
@font-palette-values --palleteArrows {
  font-family: Rocher;
  base-palette: 6;
}
.arrows{
  background: none;
  border: none;
  margin: 0px 3px;
  font-palette: --palleteArrows;
  text-shadow: 0 -1px 4px #140b0b, 0 -2px 10px rgb(36, 25, 25);
}
.arrows:hover{
  filter: contrast(1.75);
}

.pokeContainerText{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 30px;
  align-self: center;
  justify-self: center;
  background-color: rgba(233, 248, 233, 0.5);
  box-shadow: 10px 10px 10px 5px rgb(27, 21, 21);
  text-align: center;
  border-radius: 0.75em;
}
.textEffectRight{
  animation: rightAnimation 300ms ease-in-out forwards;
  transform-origin: top right;
}
.textEffectLeft{
  animation: leftAnimation 300ms ease-in-out forwards;
  transform-origin: top right;
}
@keyframes rightAnimation {
  0% {
    opacity: 0;
    transform: TranslateX(100px)
  }
  10%{
    opacity: 0.1;
    transform: TranslateX(90px)

  }
  20% {
    opacity: 0.2;
    transform: TranslateX(80px)
  }
  30% {
    opacity: 0.3;
    transform: TranslateX(70px)
  }
  40% {
    opacity: 0.4;
    transform: TranslateX(60px)
  }
  50% {
    opacity: 0.5;
    transform: TranslateX(50px)
  }
  60%{
    opacity: 0.6;
    transform: TranslateX(40px)

  }
  70% {
    opacity: 0.7;
    transform: TranslateX(30px)
  }
  80% {
    opacity: 0.8;
    transform: TranslateX(20px)
  }
  90% {
    opacity: 0.9;
    transform: TranslateX(10px)
  }
  100% {
    opacity: 1;
    transform: TranslateX(0px)
  }
}
@keyframes leftAnimation {
  0% {
    opacity: 0;
    transform: TranslateX(-100px)
  }
  10%{
    opacity: 0.1;
    transform: TranslateX(-90px)

  }
  20% {
    opacity: 0.2;
    transform: TranslateX(-80px)
  }
  30% {
    opacity: 0.3;
    transform: TranslateX(-70px)
  }
  40% {
    opacity: 0.4;
    transform: TranslateX(-60px)
  }
  50% {
    opacity: 0.5;
    transform: TranslateX(-50px)
  }
  60%{
    opacity: 0.6;
    transform: TranslateX(-40px)

  }
  70% {
    opacity: 0.7;
    transform: TranslateX(-30px)
  }
  80% {
    opacity: 0.8;
    transform: TranslateX(-20px)
  }
  90% {
    opacity: 0.9;
    transform: TranslateX(-10px)
  }
  100% {
    opacity: 1;
    transform: TranslateX(-0px)
  }
}
.containerDescriptions  {
  width: 40vw;
  margin: 10px;
  color: #000;
}
.highSize {
  font-size: 40px;
}
.pokeDetailsPage{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
@media screen and (max-width: 1000px) {
  .titleName{
    font-size:large;
  }
  .textName{
    font-size: medium;
  }
}
.titleWhite{
  color: #ecf3eb;
  text-shadow: 0 -1px 4px #333633, 0 -2px 10px rgb(75, 79, 92);
}
.titleGray{
  color: #797a79;
  text-shadow: 0 -1px 4px #020000, 0 -2px 10px rgb(16, 34, 68);
}
.shinyButton{
  background: none;
  border: none;
  background-image: url('../public/menu/shinyEmpty.png');
  background-size: cover;
  width: 50px;
  height: 50px;
}
.shinySelected{
  background-image: url('../public/menu/shinyFull.png');
}

.textwater{
  background: #6890F0;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #98D8D8;
    border-bottom-color: #807870;
    border-radius: 5px;
    padding: 0.15em;
}
.textfire{
  background: #F08030;
  border-style: solid none;
  border-width: 1px;
  border-top-color: #F8D030;
  border-bottom-color: #C03028;
  border-radius: 5px;
  padding: 0.15em;
}
.textfairy{
  background: #F0B6BC;
  border-style: solid none;
  border-width: 1px;
  border-top-color: #F5CAD1;
  border-bottom-color: #905F63;
  border-radius: 5px;
  padding: 0.15em;}
.textgrass{
  background: #78C850;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #C0F860;
    border-bottom-color: #588040;
    border-radius: 5px;
    padding: 0.15em;
}
.textbug{
  background: #A8B820;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #D8E030;
    border-bottom-color: #A8B820;
    border-radius: 5px;
    padding: 0.15em;
}
.textnormal{
  background: #A8A878;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #D8D8D0;
    border-bottom-color: #705848;
    border-radius: 5px;
    padding: 0.15em;
}
.textflying{
  background: #A890F0;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #C8C0F8;
    border-bottom-color: #705898;
    border-radius: 5px;
    padding: 0.15em;
}
.textpoison{
  background: #A040A0;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #D880B8;
    border-bottom-color: #483850;
    border-radius: 5px;
    padding: 0.15em;
}
.textelectric{
  background: #F8D030;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #F8F878;
    border-bottom-color: #B8A038;
    border-radius: 5px;
    padding: 0.15em;
}
.textground{
  background: #E0C068;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #F8F878;
    border-bottom-color: #886830;
    border-radius: 5px;
    padding: 0.15em;
}
.textfighting{
  background: #C03028;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #F08030;
    border-bottom-color: #484038;
    border-radius: 5px;
    padding: 0.15em;
}
.textpsychic{
  background: #F85888;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #F8C0B0;
    border-bottom-color: #789010;
    border-radius: 5px;
    padding: 0.15em;
}
.textdragon{
  background: #7038F8;
  border-style: solid none;
  border-width: 1px;
  border-top-color: #B8A0F8;
  border-bottom-color: #483890;
  border-radius: 5px;
  padding: 0.15em;}
.textrock{
  background: #B8A038;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #E0C068;
    border-bottom-color: #886830;
    border-radius: 5px;
    padding: 0.15em;
}
.textice{
  background: #98D8D8;
  border-style: solid none;
  border-width: 1px;
  border-top-color: #D0F8E8;
  border-bottom-color: #9090A0;
  border-radius: 5px;
  padding: 0.15em;}
.textghost{
  background: #705898;
  border-style: solid none;
  border-width: 1px;
  border-top-color: #A890F0;
  border-bottom-color: #483850;
  border-radius: 5px;
  padding: 0.15em;}
.textdark{
  background: #705848;
  border-style: solid none;
  border-width: 1px;
  border-top-color: #A8A878;
  border-bottom-color: #484038;
  border-radius: 5px;
  padding: 0.15em;
}
.textsteel{
    background: #B8B8D0;
    border-style: solid none;
    border-width: 1px;
    border-top-color: #D8D8C0;
    border-bottom-color: #807870;
    border-radius: 5px;
    padding: 0.15em;
}

.selectFilterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.selectFilterContainer select{
  font-family: "Audiowide", cursive;
  color: #333;
  text-shadow: -0.01em -0.01em 0.01em #000;
  background-color:#D8D8D0;
  border-radius: 1.75em;
  font-weight: 800;
  width: 120px;
  text-align: center;
  height: 30px;
}
.selectFilterContainer select option{
  font-weight: 800;
}