.pokemonlist{
  display: flex;
  text-align: center;
  align-items: center;
  margin: 20px;
  border-radius: 5%;
  border: 2px solid gray;
  padding: 5px;
  width: 180px;
  justify-content: space-evenly;

}
.allPokemons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pokeImgHome{
  max-width: 90px;
}